{% extends 'base.html' %} {% block content %}
<div class="containerHome">
    <div class="divText">
        <img src="{{url_for('static', filename='images/teste.png')}}" alt=""  style="width: 350px; object-fit: contain;">
        <div class="divButtons">
            <a href="#"></a><button type="button" class="button">Personagens</button></a>
            <a href="#"></a><button type="button" class="button">Transformações</button></a>
            <a href="{{url_for('apicharacters')}}"><button type="button" class="button">Dados API</button></a>
        </div>
    </div>
</div>
{% endblock content %}