{% extends 'base.html' %} {% block content %}
<div class="containerGeral containerPersonagensApi">
  <h3 style="font-weight: bolder; color: #ffc800">Personagens da API</h3>
  <div class="row divCards">
    {% for char in charjson["items"] %}
    <div class="card cardApi" onclick="mostrarPersonagem('{{ char.name }}')">
      <img
        src="{{char.image}}"
        class="card-img-top imgCard bg-body-tertiary"
        alt="Imagem de: {{char.name}}"
      />
      <div class="card-body" style="color: #fff">
        <h5 class="card-title" style="font-weight: bolder">{{ char.name }}</h5>
        <p class="card-text">
          <span style="color: #ffc800; font-weight: bold">Ki Base</span>
          <br />{{ char.ki }}
        </p>
        <p class="card-text">
          <span style="color: #ffc800; font-weight: bold">Ki Máximo</span>
          <br />
          {{ char.maxKi }}
        </p>
        <p class="card-text">
          <span style="color: #ffc800; font-weight: bold">Raça</span> <br />{{
          char.race }}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if charjson.meta.currentPage > 1 %}
      <li class="page-item">
        <a
          class="page-link btnPagination"
          href="?page={{ charjson.meta.currentPage - 1 }}"
          aria-label="Previous"
        >
          <span aria-hidden="true">&laquo; Anterior</span>
        </a>
      </li>
      {% endif %}

      <li class="page-item disabled">
        <span class="page-link" style="font-weight: bold"
          >Página {{ charjson.meta.currentPage }} de {{ charjson.meta.totalPages
          }}</span
        >
      </li>

      {% if (charjson.meta.totalPages - charjson.meta.currentPage) > 0 %}
      <li class="page-item">
        <a
          class="page-link btnPagination"
          href="?page={{ charjson.meta.currentPage + 1 }}"
          aria-label="Next"
        >
          <span aria-hidden="true">Próxima &raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
<script>
  function mostrarPersonagem(name) {
    const encodedName = encodeURIComponent(name);
    window.location.href = `{{ url_for('charinfo') }}?name=${name}`;
  }
</script>
{% endblock content %}
